# PROJECT: Finding new market for exporting chicken
# Exploratory analysis part1

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#### Import datas

In [28]:
food_avalable_2017=pd.read_csv('DisponibiliteAlimentaire_2017.csv')
pop_2000_2018=pd.read_csv('Population_2000_2018.csv')

## Data preparation

### DataFrame food_avalable_2017

In [29]:
#Visualisation des premières lignes de dispoAl_2017
food_avalable_2017.head(70)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5170,Résidus,2516,Avoine,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
66,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5142,Nourriture,2516,Avoine,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
67,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2516,Avoine,2017,2017,kg,0.0,Fc,Donnée calculée
68,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2517,Millet et produits,2017,2017,Milliers de tonnes,9.0,S,Données standardisées
69,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2517,Millet et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées

In [30]:
food_avalable_2017.shape

(176600, 14)

In [31]:
food_avalable_2017.dtypes

Code Domaine               object
Domaine                    object
Code zone                   int64
Zone                       object
Code Élément                int64
Élément                    object
Code Produit                int64
Produit                    object
Code année                  int64
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
dtype: object

In [32]:
#Nulls
food_avalable_2017[food_avalable_2017.isna()==True].count()

Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

In [33]:
#Duplicates
food_avalable_2017.duplicated().sum()

0

In [34]:
#Descriptive statitics
food_avalable_2017.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,176600.000000,176600.000000,176600.000000,176600.0,176600.0,176600.000000
mean,125.474740,3810.052894,2628.778545,2017.0,2017.0,210.554918
std,72.941699,2211.790089,91.993247,0.0,0.0,4762.047787
min,1.000000,645.000000,2511.000000,2017.0,2017.0,-10388.000000
25%,63.000000,684.000000,2556.000000,2017.0,2017.0,0.000000
50%,120.000000,5142.000000,2612.000000,2017.0,2017.0,0.120000
75%,188.000000,5301.000000,2732.000000,2017.0,2017.0,8.462500
max,276.000000,5911.000000,2899.000000,2017.0,2017.0,758548.000000

We can see that the 'Code année' and 'Année' columns have the same value and do not change (2017). Therefore, there is no need to keep these columns for the analysis

In [35]:
food_avalable_2017=food_avalable_2017.drop(['Code année','Année'],axis=1)

We don't need the other codes either for our analysis

In [36]:
food_avalable_2017=food_avalable_2017.drop(['Code zone','Code Élément','Code Produit',],axis=1)

#### Unique values per columns

In [37]:
#Column Code domaine
food_avalable_2017['Code Domaine'].unique()

array(['FBS'], dtype=object)

In [38]:
#Column Domaine
food_avalable_2017['Domaine'].unique()

array(['Nouveaux Bilans Alimentaire'], dtype=object)

In [39]:
#Column Elément
food_avalable_2017['Élément'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [40]:
#Column Unité
food_avalable_2017['Unité'].unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

In [41]:
#Column produit
food_avalable_2017['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [42]:
#Column Symbole
food_avalable_2017['Symbole'].unique()

array(['S', 'Fc'], dtype=object)

In [43]:
#Column Description du Symbole
food_avalable_2017['Description du Symbole'].unique()

array(['Données standardisées', 'Donnée calculée'], dtype=object)

#### For our analysis, we don't need the columns: 'Code Domaine','Domaine',Symbole' et 'description du symbole'

In [44]:
food_avalable_2017=food_avalable_2017.drop(['Code Domaine','Domaine','Symbole','Description du Symbole'],axis=1)

In [45]:
food_avalable_2017.head()

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé et produits,Milliers de tonnes,4281.0
1,Afghanistan,Importations - Quantité,Blé et produits,Milliers de tonnes,2302.0
2,Afghanistan,Variation de stock,Blé et produits,Milliers de tonnes,-119.0
3,Afghanistan,Exportations - Quantité,Blé et produits,Milliers de tonnes,0.0
4,Afghanistan,Disponibilité intérieure,Blé et produits,Milliers de tonnes,6701.0

#### As we wish to conduct an analysis to find new markets for chicken exportation, let's select only the rows that correspond to this market

In [49]:
food_avalable_2017=food_avalable_2017[food_avalable_2017['Produit']=='Viande de Volailles']
food_avalable_2017

,Zone,Élément,Produit,Unité,Valeur
651,Afghanistan,Production,Viande de Volailles,Milliers de tonnes,28.00
652,Afghanistan,Importations - Quantité,Viande de Volailles,Milliers de tonnes,29.00
653,Afghanistan,Variation de stock,Viande de Volailles,Milliers de tonnes,0.00
654,Afghanistan,Disponibilité intérieure,Viande de Volailles,Milliers de tonnes,57.00
655,Afghanistan,Pertes,Viande de Volailles,Milliers de tonnes,2.00
...,...,...,...,...,...
176396,Zimbabwe,Nourriture,Viande de Volailles,Milliers de tonnes,67.00
176397,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Viande de Volailles,kg,4.68
176398,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,Kcal/personne/jour,16.00
176399,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,g/personne/jour,1.59
176400,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Viande de Volailles,g/personne/jour,0.99

In [54]:
Chicken_2017=pd.pivot(food_avalable_2017,index='Zone',columns='Élément',values='Valeur')
Chicken_2017

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,-0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0
Algérie,0.0,NaN,NaN,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,NaN,NaN,0.0
Allemagne,NaN,NaN,NaN,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,NaN,1514.0,-38.0,NaN,167.0,-29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,NaN,NaN,NaN,147.0,43.47,9.25,14.80,412.0,94.0,433.0,412.0,NaN,48.0,-0.0,NaN,NaN,-26.0
Équateur,0.0,NaN,NaN,83.0,19.31,6.35,6.15,341.0,0.0,0.0,324.0,17.0,340.0,0.0,NaN,NaN,-1.0
États-Unis d'Amérique,NaN,NaN,89.0,219.0,55.68,14.83,19.93,18266.0,3692.0,123.0,18100.0,NaN,21914.0,-0.0,NaN,77.0,80.0
Éthiopie,0.0,NaN,NaN,0.0,0.13,0.03,0.04,14.0,NaN,1.0,14.0,1.0,14.0,0.0,NaN,NaN,0.0
Îles Salomon,-0.0,NaN,NaN,18.0,4.45,1.31,1.51,3.0,0.0,6.0,3.0,NaN,0.0,0.0,NaN,NaN,3.0

#### describe Chicken_2017

In [56]:
Chicken_2017.describe()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
count,78.000000,1.0,34.000000,172.000000,172.000000,172.000000,172.000000,170.000000,135.000000,170.000000,170.000000,67.000000,168.000000,164.000000,1.0,46.000000,169.000000
mean,0.217949,0.0,44.117647,74.558140,20.213372,4.898430,7.121279,687.594118,132.185185,89.529412,657.047059,43.582090,725.190476,-2.835366,0.0,26.282609,13.668639
std,2.399391,NaN,142.433135,60.571277,15.860311,4.191336,5.603464,2187.184747,513.784440,186.669983,2136.545796,120.818816,2501.457125,13.579702,NaN,55.020668,75.364884
min,-18.000000,0.0,0.000000,0.000000,0.130000,0.030000,0.040000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,-125.000000,0.0,0.000000,-119.000000
25%,0.000000,0.0,0.000000,22.000000,6.440000,1.460000,2.165000,30.500000,0.000000,3.000000,28.500000,1.000000,13.750000,0.000000,0.0,1.000000,0.000000
50%,0.000000,0.0,2.000000,64.000000,18.090000,3.745000,6.505000,100.000000,3.000000,16.000000,99.500000,4.000000,70.000000,0.000000,0.0,4.000000,0.000000
75%,0.000000,0.0,14.500000,105.500000,30.037500,6.597500,10.365000,368.250000,32.000000,81.250000,365.250000,29.500000,409.750000,0.000000,0.0,17.500000,7.000000
max,5.000000,0.0,783.000000,243.000000,72.310000,17.860000,27.870000,18266.000000,4223.000000,1069.000000,18100.000000,695.000000,21914.000000,0.000000,0.0,306.000000,859.000000

#### Having already worked on this type of datas, I know that "Disponibilité intérieur" is equal to the sum of "Nouriture", "pertes"et"aliments pour animeaux" I, therefore, will delete those columns as well as the columns Semences, "Autres utilisations (non alimentaire)","Traitement", "Alimentation pour touristes"columns that do not have sufficient data quantity. The columns "Résidus", "Disponibilité de matière grasse en quantité (g/personne/jour)" and "Disponibilité de protéines en quantité (g/personne/jour)" won't be needed either for the purpose of the analysis

In [57]:
Chicken_2017=Chicken_2017.drop(['Nourriture','Pertes','Aliments pour animaux','Autres utilisations (non alimentaire)','Traitement','Semences','Résidus','Alimentation pour touristes','Disponibilité de matière grasse en quantité (g/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)'],axis=1)

In [58]:
Chicken_2017.head()

Élément,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
Zone,,,,,,,
Afghanistan,5.0,1.53,57.0,NaN,29.0,28.0,0.0
Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,1667.0,-0.0
Albanie,85.0,16.36,47.0,0.0,38.0,13.0,4.0
Algérie,22.0,6.38,277.0,0.0,2.0,275.0,0.0
Allemagne,71.0,19.47,1739.0,646.0,842.0,1514.0,-29.0

In [59]:
Chicken_2017.describe()

Élément,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
count,172.000000,172.000000,170.000000,135.000000,170.000000,168.000000,169.000000
mean,74.558140,20.213372,687.594118,132.185185,89.529412,725.190476,13.668639
std,60.571277,15.860311,2187.184747,513.784440,186.669983,2501.457125,75.364884
min,0.000000,0.130000,2.000000,0.000000,0.000000,0.000000,-119.000000
25%,22.000000,6.440000,30.500000,0.000000,3.000000,13.750000,0.000000
50%,64.000000,18.090000,100.000000,3.000000,16.000000,70.000000,0.000000
75%,105.500000,30.037500,368.250000,32.000000,81.250000,409.750000,7.000000
max,243.000000,72.310000,18266.000000,4223.000000,1069.000000,21914.000000,859.000000

Let's explore the rows with nulls

In [60]:
#column "Exportations Quantités"
Chicken_2017[Chicken_2017['Exportations - Quantité'].isnull()]

Élément,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock
Zone,,,,,,,
Afghanistan,5.0,1.53,57.0,NaN,29.0,28.0,0.0
Bahamas,182.0,43.17,26.0,NaN,24.0,6.0,4.0
Bangladesh,7.0,1.50,250.0,NaN,0.0,249.0,-0.0
Burkina Faso,8.0,2.27,46.0,NaN,0.0,46.0,-0.0
Cabo Verde,62.0,17.62,10.0,NaN,12.0,1.0,4.0
Cambodge,11.0,2.34,38.0,NaN,10.0,28.0,-0.0
Cuba,82.0,23.72,342.0,NaN,312.0,29.0,-1.0
Djibouti,9.0,2.68,3.0,NaN,3.0,NaN,0.0
Gambie,12.0,3.53,8.0,NaN,16.0,2.0,10.0
Grenade,192.0,45.70,8.0,NaN,7.0,1.0,-0.0
Guinée,14.0,4.08,50.0,NaN,37.0,13.0,-0.0
Guinée-Bissau,7.0,2.16,4.0,NaN,4.0,3.0,3.0
Haïti,31.0,8.91,98.0,NaN,89.0,9.0,-0.0
Kiribati,63.0,17.98,2.0,NaN,1.0,1.0,0.0
Madagascar,14.0,2.87,82.0,NaN,0.0,81.0,-0.0
Malawi,17.0,5.17,98.0,NaN,0.0,130.0,33.0
Maldives,47.0,13.50,12.0,NaN,12.0,NaN,0.0
Mali,9.0,2.83,52.0,NaN,1.0,48.0,-4.0
Mauritanie,11.0,5.14,22.0,NaN,24.0,5.0,6.0
Mongolie,9.0,2.77,9.0,NaN,10.0,0.0,1.0
Mozambique,13.0,3.59,116.0,NaN,24.0,92.0,-1.0
Nouvelle-Calédonie,136.0,38.71,11.0,NaN,9.0,1.0,-1.0
Népal,7.0,1.99,58.0,NaN,0.0,58.0,-0.0
Ouzbékistan,6.0,1.96,NaN,NaN,NaN,NaN,NaN
République centrafricaine,8.0,2.29,11.0,NaN,4.0,7.0,-0.0
République démocratique populaire lao,41.0,10.91,NaN,NaN,NaN,NaN,NaN
République-Unie de Tanzanie,6.0,1.88,108.0,NaN,2.0,105.0,-0.0
Saint-Vincent-et-les Grenadines,243.0,72.31,8.0,NaN,9.0,0.0,1.0
Sainte-Lucie,241.0,56.69,11.0,NaN,10.0,1.0,0.0
Sao Tomé-et-Principe,33.0,9.47,2.0,NaN,2.0,1.0,1.0
Soudan,5.0,1.60,69.0,NaN,2.0,67.0,0.0
Tadjikistan,18.0,4.45,40.0,NaN,38.0,2.0,-0.0
Timor-Leste,14.0,4.24,5.0,NaN,11.0,1.0,7.0
Turkménistan,15.0,4.52,27.0,NaN,9.0,20.0,2.0
Vanuatu,40.0,11.66,3.0,NaN,4.0,1.0,1.0
Zimbabwe,16.0,4.68,76.0,NaN,6.0,69.0,-0.0
Éthiopie,0.0,0.13,14.0,NaN,1.0,14.0,0.0

I decide to not keep thoses rows for the analysis especialy for the PCA

In [61]:
Chicken_2017=Chicken_2017[~Chicken_2017['Exportations - Quantité'].isnull()]

In [62]:
Chicken_2017[Chicken_2017['Exportations - Quantité'].isnull()]

Empty DataFrame
Columns: [Disponibilité alimentaire (Kcal/personne/jour), Disponibilité alimentaire en quantité (kg/personne/an), Disponibilité intérieure, Exportations - Quantité, Importations - Quantité, Production, Variation de stock]
Index: []

Let see the one in "variation de stock"

In [220]:
Chicken_2017[Chicken_2017['Variation de stock'].isnull()]

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
Zone,,,,,,,
Pérou,1465.0,60.0,NaN,1523.0,13.47,62.0,1.0

I decide to delete this row too

In [63]:
Chicken_2017=Chicken_2017[~Chicken_2017['Variation de stock'].isnull()]

### Dataframe pop_2000_2018

In [64]:
pop_2000_2018.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [65]:
pop_2000_2018.shape

(4411, 15)

#### Let's delete the columns I don't need

In [66]:
pop_2000_2018=pop_2000_2018.drop(['Code Domaine','Domaine','Code zone','Code Élément','Élément','Code Produit','Produit','Code année','Unité','Description du Symbole','Note','Symbole'],axis=1)
pop_2000_2018.head()

          Zone  Année     Valeur
0  Afghanistan   2000  20779.953
1  Afghanistan   2001  21606.988
2  Afghanistan   2002  22600.770
3  Afghanistan   2003  23680.871
4  Afghanistan   2004  24726.684

Let's rename 'Valeur' by 'Population'

In [67]:
pop_2000_2018.rename(columns = {'Valeur':'Population'}, inplace = True)

In [68]:
pop_2000_2018.dtypes

Zone           object
Année           int64
Population    float64
dtype: object

#### For this analysis as we only have datas for 2017 in our first dataframe chicken_2017, let's restrict pop_2000_2018

In [69]:
pop_2017=pop_2000_2018[pop_2000_2018['Année']==2017]
pop_2017

                                        Zone  Année  Population
17                               Afghanistan   2017   36296.113
36                            Afrique du Sud   2017   57009.756
55                                   Albanie   2017    2884.169
74                                   Algérie   2017   41389.189
93                                 Allemagne   2017   82658.409
...                                      ...    ...         ...
4333  Venezuela (République bolivarienne du)   2017   29402.484
4352                                Viet Nam   2017   94600.648
4371                                   Yémen   2017   27834.819
4390                                  Zambie   2017   16853.599
4409                                Zimbabwe   2017   14236.595

[236 rows x 3 columns]

In [70]:
pop_2017=pop_2017.drop('Année',axis=1)
pop_2017

                                        Zone  Population
17                               Afghanistan   36296.113
36                            Afrique du Sud   57009.756
55                                   Albanie    2884.169
74                                   Algérie   41389.189
93                                 Allemagne   82658.409
...                                      ...         ...
4333  Venezuela (République bolivarienne du)   29402.484
4352                                Viet Nam   94600.648
4371                                   Yémen   27834.819
4390                                  Zambie   16853.599
4409                                Zimbabwe   14236.595

[236 rows x 2 columns]

In [71]:
#Nulls
pop_2017.isnull().sum()

Zone          0
Population    0
dtype: int64

In [72]:
#Duplicates
pop_2017.duplicated().sum()

0

#### Now let's merge the 2 dataframes

In [73]:
Chicken_2017=pd.merge(Chicken_2017,pop_2017, on='Zone',how='inner')
Chicken_2017

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Population
0,Afrique du Sud,143.0,35.69,2118.0,63.0,514.0,1667.0,-0.0,57009.756
1,Albanie,85.0,16.36,47.0,0.0,38.0,13.0,4.0,2884.169
2,Algérie,22.0,6.38,277.0,0.0,2.0,275.0,0.0,41389.189
3,Allemagne,71.0,19.47,1739.0,646.0,842.0,1514.0,-29.0,82658.409
4,Angola,35.0,10.56,319.0,0.0,277.0,42.0,-0.0,29816.766
...,...,...,...,...,...,...,...,...,...
129,Égypte,50.0,12.96,1250.0,1.0,110.0,1118.0,-23.0,96442.591
130,Émirats arabes unis,147.0,43.47,412.0,94.0,433.0,48.0,-26.0,9487.203
131,Équateur,83.0,19.31,341.0,0.0,0.0,340.0,-1.0,16785.361
132,États-Unis d'Amérique,219.0,55.68,18266.0,3692.0,123.0,21914.0,80.0,325084.756
133,Îles Salomon,18.0,4.45,3.0,0.0,6.0,0.0,3.0,636.039

#### Exporting the Dataframe as csv to perform in another notebook the part of the analysis (PCA and clustering)

In [77]:
Chicken_2017.to_csv('Chicken2017.csv')