# PROJECT: Finding new market for exporting chicken
# Exploratory analysis

In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#### Import datas

In [236]:
food_avalable_2017=pd.read_csv('DisponibiliteAlimentaire_2017.csv')
pop_2000_2018=pd.read_csv('Population_2000_2018.csv')

## Data preparation

### DataFrame food_avalable_2017

In [184]:
#Visualisation des premières lignes de dispoAl_2017
food_avalable_2017.head(70)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5170,Résidus,2516,Avoine,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
66,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5142,Nourriture,2516,Avoine,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
67,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2516,Avoine,2017,2017,kg,0.0,Fc,Donnée calculée
68,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2517,Millet et produits,2017,2017,Milliers de tonnes,9.0,S,Données standardisées
69,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2517,Millet et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées

In [185]:
food_avalable_2017.shape

(176600, 14)

In [186]:
food_avalable_2017.dtypes

Code Domaine               object
Domaine                    object
Code zone                   int64
Zone                       object
Code Élément                int64
Élément                    object
Code Produit                int64
Produit                    object
Code année                  int64
Année                       int64
Unité                      object
Valeur                    float64
Symbole                    object
Description du Symbole     object
dtype: object

In [187]:
#Nulls
food_avalable_2017[food_avalable_2017.isna()==True].count()

Code Domaine              0
Domaine                   0
Code zone                 0
Zone                      0
Code Élément              0
Élément                   0
Code Produit              0
Produit                   0
Code année                0
Année                     0
Unité                     0
Valeur                    0
Symbole                   0
Description du Symbole    0
dtype: int64

In [188]:
#Duplmlicates
food_avalable_2017.duplicated().sum()

0

In [189]:
#Descriptive statitics
food_avalable_2017.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,176600.000000,176600.000000,176600.000000,176600.0,176600.0,176600.000000
mean,125.474740,3810.052894,2628.778545,2017.0,2017.0,210.554918
std,72.941699,2211.790089,91.993247,0.0,0.0,4762.047787
min,1.000000,645.000000,2511.000000,2017.0,2017.0,-10388.000000
25%,63.000000,684.000000,2556.000000,2017.0,2017.0,0.000000
50%,120.000000,5142.000000,2612.000000,2017.0,2017.0,0.120000
75%,188.000000,5301.000000,2732.000000,2017.0,2017.0,8.462500
max,276.000000,5911.000000,2899.000000,2017.0,2017.0,758548.000000

We can see that the 'Code année' and 'Année' columns have the same value and do not change (2017). Therefore, there is no need to keep these columns for the analysis

In [190]:
food_avalable_2017=food_avalable_2017.drop(['Code année','Année'],axis=1)

We don't need the other codes either for our analysis

In [191]:
food_avalable_2017=food_avalable_2017.drop(['Code zone','Code Élément','Code Produit',],axis=1)

#### Unique values per columns

In [192]:
#Column Code domaine
food_avalable_2017['Code Domaine'].unique()

array(['FBS'], dtype=object)

In [193]:
#Column Domaine
food_avalable_2017['Domaine'].unique()

array(['Nouveaux Bilans Alimentaire'], dtype=object)

In [194]:
#Column Elément
food_avalable_2017['Élément'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

In [195]:
#Column Unité
food_avalable_2017['Unité'].unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

In [196]:
#Column produit
food_avalable_2017['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [197]:
#Column Symbole
food_avalable_2017['Symbole'].unique()

array(['S', 'Fc'], dtype=object)

In [198]:
#Column Description du Symbole
food_avalable_2017['Description du Symbole'].unique()

array(['Données standardisées', 'Donnée calculée'], dtype=object)

#### For our analysis, we don't need the columns: 'Code Domaine','Domaine',Symbole' et 'description du symbole'

In [199]:
food_avalable_2017=food_avalable_2017.drop(['Code Domaine','Domaine','Symbole','Description du Symbole'],axis=1)

In [200]:
food_avalable_2017.head()

,Zone,Élément,Produit,Unité,Valeur
0,Afghanistan,Production,Blé et produits,Milliers de tonnes,4281.0
1,Afghanistan,Importations - Quantité,Blé et produits,Milliers de tonnes,2302.0
2,Afghanistan,Variation de stock,Blé et produits,Milliers de tonnes,-119.0
3,Afghanistan,Exportations - Quantité,Blé et produits,Milliers de tonnes,0.0
4,Afghanistan,Disponibilité intérieure,Blé et produits,Milliers de tonnes,6701.0

In [201]:
#Let's set the country as the index:
food_avalable_2017.set_index('Zone',inplace=True)

#### As we wish to conduct an analysis of the poultry market, let's select only the rows that correspond to this market

In [202]:
food_avalable_2017=food_avalable_2017[food_avalable_2017['Produit']=='Viande de Volailles']
food_avalable_2017

,Élément,Produit,Unité,Valeur
Zone,,,,
Afghanistan,Production,Viande de Volailles,Milliers de tonnes,28.00
Afghanistan,Importations - Quantité,Viande de Volailles,Milliers de tonnes,29.00
Afghanistan,Variation de stock,Viande de Volailles,Milliers de tonnes,0.00
Afghanistan,Disponibilité intérieure,Viande de Volailles,Milliers de tonnes,57.00
Afghanistan,Pertes,Viande de Volailles,Milliers de tonnes,2.00
...,...,...,...,...
Zimbabwe,Nourriture,Viande de Volailles,Milliers de tonnes,67.00
Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Viande de Volailles,kg,4.68
Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,Kcal/personne/jour,16.00
Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,g/personne/jour,1.59
Zimbabwe,Disponibilité de matière grasse en quantité (g...,Viande de Volailles,g/personne/jour,0.99

#### Creation of a dataframe with the values in the column 'Element' as columns names (I could use the methode pivot but I decide for another way)

In [203]:
#Firts creation of the empty Data Frame
Chicken_2017=pd.DataFrame(columns=food_avalable_2017['Élément'].unique(),index=food_avalable_2017.index.unique())

In [204]:
Chicken_2017.head()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Pertes,Résidus,Nourriture,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Exportations - Quantité,Alimentation pour touristes,Traitement,Autres utilisations (non alimentaire),Aliments pour animaux,Semences
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afrique du Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albanie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algérie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Allemagne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
#Groupement par pays (index) de dispoAl_2017
Groups_food_avalable_2017=food_avalable_2017.groupby('Zone')

In [206]:
#Loop to fill up Chicken_2017
for name,gb in Groups_food_avalable_2017:
    Colonnes=gb['Élément']
    for element in Colonnes.values:
        Valeur=gb.loc[gb['Élément']==element,'Valeur']
        Chicken_2017.loc[Chicken_2017.index==name,element]=Valeur

In [207]:
Chicken_2017.head()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Pertes,Résidus,Nourriture,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Exportations - Quantité,Alimentation pour touristes,Traitement,Autres utilisations (non alimentaire),Aliments pour animaux,Semences
Zone,,,,,,,,,,,,,,,,,
Afghanistan,28.0,29.0,0.0,57.0,2.0,0.0,55.0,1.53,5.0,0.54,0.33,NaN,NaN,NaN,NaN,NaN,NaN
Afrique du Sud,1667.0,514.0,-0.0,2118.0,83.0,0.0,2035.0,35.69,143.0,14.11,9.25,63.0,0.0,NaN,NaN,NaN,NaN
Albanie,13.0,38.0,4.0,47.0,NaN,0.0,47.0,16.36,85.0,6.26,6.45,0.0,NaN,NaN,NaN,NaN,NaN
Algérie,275.0,2.0,0.0,277.0,13.0,0.0,264.0,6.38,22.0,1.97,1.5,0.0,0.0,NaN,NaN,NaN,NaN
Allemagne,1514.0,842.0,-29.0,1739.0,NaN,-38.0,1609.0,19.47,71.0,7.96,4.16,646.0,NaN,167.0,NaN,NaN,NaN

In [208]:
Chicken_2017.shape

(172, 17)

#### describe Chicken_2017

In [209]:
Chicken_2017.describe()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Pertes,Résidus,Nourriture,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité de matière grasse en quantité (g/personne/jour),Exportations - Quantité,Alimentation pour touristes,Traitement,Autres utilisations (non alimentaire),Aliments pour animaux,Semences
count,168.0,170.0,169.0,170.0,67.0,164.0,170.0,172.00,172.0,172.00,172.00,135.0,78.0,46.0,34.0,1.0,1.0
unique,125.0,84.0,55.0,135.0,32.0,15.0,130.0,169.00,112.0,164.00,156.00,50.0,7.0,25.0,18.0,1.0,1.0
top,1.0,0.0,0.0,11.0,0.0,0.0,3.0,12.33,11.0,0.54,6.03,0.0,0.0,0.0,0.0,0.0,0.0
freq,9.0,19.0,61.0,4.0,11.0,145.0,5.0,2.00,5.0,2.00,3.00,52.0,60.0,10.0,14.0,1.0,1.0

#### Having already worked on this type of datas, I know that "Disponibilité intérieur" is equal to the sum of "Nouriture", "pertes"et"aliments pour animeaux" I, therefore, will delete those columns as well as the columns Semences, "Autres utilisations (non alimentaire)","Traitement", "Alimentation pour touristes"columns that do not have sufficient data quantity. The columns "Résidus", "Disponibilité de matière grasse en quantité (g/personne/jour)" and "Disponibilité de protéines en quantité (g/personne/jour)" won't be needed either for the purpose of the analysis

In [212]:
Chicken_2017=Chicken_2017.drop(['Nourriture','Pertes','Aliments pour animaux','Autres utilisations (non alimentaire)','Traitement','Semences','Résidus','Alimentation pour touristes','Disponibilité de matière grasse en quantité (g/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)'],axis=1)

In [213]:
Chicken_2017.head()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
Zone,,,,,,,
Afghanistan,28.0,29.0,0.0,57.0,1.53,5.0,NaN
Afrique du Sud,1667.0,514.0,-0.0,2118.0,35.69,143.0,63.0
Albanie,13.0,38.0,4.0,47.0,16.36,85.0,0.0
Algérie,275.0,2.0,0.0,277.0,6.38,22.0,0.0
Allemagne,1514.0,842.0,-29.0,1739.0,19.47,71.0,646.0

In [214]:
Chicken_2017.describe()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
count,168.0,170.0,169.0,170.0,172.00,172.0,135.0
unique,125.0,84.0,55.0,135.0,169.00,112.0,50.0
top,1.0,0.0,0.0,11.0,12.33,11.0,0.0
freq,9.0,19.0,61.0,4.0,2.00,5.0,52.0

Let's explore the rows with nulls

In [217]:
#column "Exportations Quantités"
Chicken_2017[Chicken_2017['Exportations - Quantité'].isnull()]

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
Zone,,,,,,,
Afghanistan,28.0,29.0,0.0,57.0,1.53,5.0,NaN
Bahamas,6.0,24.0,4.0,26.0,43.17,182.0,NaN
Bangladesh,249.0,0.0,-0.0,250.0,1.5,7.0,NaN
Burkina Faso,46.0,0.0,-0.0,46.0,2.27,8.0,NaN
Cabo Verde,1.0,12.0,4.0,10.0,17.62,62.0,NaN
Cambodge,28.0,10.0,-0.0,38.0,2.34,11.0,NaN
Cuba,29.0,312.0,-1.0,342.0,23.72,82.0,NaN
Djibouti,NaN,3.0,0.0,3.0,2.68,9.0,NaN
Éthiopie,14.0,1.0,0.0,14.0,0.13,0.0,NaN
Gambie,2.0,16.0,10.0,8.0,3.53,12.0,NaN
Grenade,1.0,7.0,-0.0,8.0,45.7,192.0,NaN
Guinée,13.0,37.0,-0.0,50.0,4.08,14.0,NaN
Guinée-Bissau,3.0,4.0,3.0,4.0,2.16,7.0,NaN
Haïti,9.0,89.0,-0.0,98.0,8.91,31.0,NaN
Kiribati,1.0,1.0,0.0,2.0,17.98,63.0,NaN
Madagascar,81.0,0.0,-0.0,82.0,2.87,14.0,NaN
Malawi,130.0,0.0,33.0,98.0,5.17,17.0,NaN
Maldives,NaN,12.0,0.0,12.0,13.5,47.0,NaN
Mali,48.0,1.0,-4.0,52.0,2.83,9.0,NaN
Mauritanie,5.0,24.0,6.0,22.0,5.14,11.0,NaN
Mongolie,0.0,10.0,1.0,9.0,2.77,9.0,NaN
Mozambique,92.0,24.0,-1.0,116.0,3.59,13.0,NaN
Népal,58.0,0.0,-0.0,58.0,1.99,7.0,NaN
Nouvelle-Calédonie,1.0,9.0,-1.0,11.0,38.71,136.0,NaN
Ouzbékistan,NaN,NaN,NaN,NaN,1.96,6.0,NaN
République centrafricaine,7.0,4.0,-0.0,11.0,2.29,8.0,NaN
République démocratique populaire lao,NaN,NaN,NaN,NaN,10.91,41.0,NaN
République-Unie de Tanzanie,105.0,2.0,-0.0,108.0,1.88,6.0,NaN
Sainte-Lucie,1.0,10.0,0.0,11.0,56.69,241.0,NaN
Saint-Vincent-et-les Grenadines,0.0,9.0,1.0,8.0,72.31,243.0,NaN
Sao Tomé-et-Principe,1.0,2.0,1.0,2.0,9.47,33.0,NaN
Soudan,67.0,2.0,0.0,69.0,1.6,5.0,NaN
Tadjikistan,2.0,38.0,-0.0,40.0,4.45,18.0,NaN
Timor-Leste,1.0,11.0,7.0,5.0,4.24,14.0,NaN
Turkménistan,20.0,9.0,2.0,27.0,4.52,15.0,NaN
Vanuatu,1.0,4.0,1.0,3.0,11.66,40.0,NaN
Zimbabwe,69.0,6.0,-0.0,76.0,4.68,16.0,NaN

I decide to not keep thoses rows for the analysis especialy for the PAC

In [218]:
Chicken_2017=Chicken_2017[~Chicken_2017['Exportations - Quantité'].isnull()]

In [219]:
Chicken_2017.describe()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
count,135.0,135.0,134.0,135.0,135.0,135.0,135.0
unique,114.0,81.0,53.0,118.0,133.0,99.0,50.0
top,0.0,0.0,-0.0,7.0,16.7,71.0,0.0
freq,6.0,14.0,42.0,4.0,2.0,5.0,52.0

Let see the one in "variation de stock"

In [220]:
Chicken_2017[Chicken_2017['Variation de stock'].isnull()]

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité
Zone,,,,,,,
Pérou,1465.0,60.0,NaN,1523.0,13.47,62.0,1.0

I decide to delete this row too

In [221]:
Chicken_2017=Chicken_2017[~Chicken_2017['Variation de stock'].isnull()]

In [222]:
Chicken_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, Afrique du Sud to Zambie
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Production                                              134 non-null    object
 1   Importations - Quantité                                 134 non-null    object
 2   Variation de stock                                      134 non-null    object
 3   Disponibilité intérieure                                134 non-null    object
 4   Disponibilité alimentaire en quantité (kg/personne/an)  134 non-null    object
 5   Disponibilité alimentaire (Kcal/personne/jour)          134 non-null    object
 6   Exportations - Quantité                                 134 non-null    object
dtypes: object(7)
memory usage: 8.4+ KB

In [223]:
Chicken_2017=Chicken_2017.astype(int)
Chicken_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, Afrique du Sud to Zambie
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Production                                              134 non-null    int32
 1   Importations - Quantité                                 134 non-null    int32
 2   Variation de stock                                      134 non-null    int32
 3   Disponibilité intérieure                                134 non-null    int32
 4   Disponibilité alimentaire en quantité (kg/personne/an)  134 non-null    int32
 5   Disponibilité alimentaire (Kcal/personne/jour)          134 non-null    int32
 6   Exportations - Quantité                                 134 non-null    int32
dtypes: int32(7)
memory usage: 4.7+ KB

### Dataframe pop_2000_2018

In [233]:
pop_2000_2018.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [225]:
pop_2000_2018.shape

(4411, 15)

#### Let delete the columns I don't need

In [237]:
pop_2000_2018=pop_2000_2018.drop(['Code Domaine','Domaine','Code zone','Code Élément','Élément','Code Produit','Produit','Code année','Unité','Description du Symbole','Note','Symbole'],axis=1)
pop_2000_2018.head()

          Zone  Année     Valeur
0  Afghanistan   2000  20779.953
1  Afghanistan   2001  21606.988
2  Afghanistan   2002  22600.770
3  Afghanistan   2003  23680.871
4  Afghanistan   2004  24726.684

Let's rename 'Valeur' by 'Population'

In [239]:
pop_2000_2018.rename(columns = {'Valeur':'Population'}, inplace = True)

In [241]:
pop_2000_2018.dtypes

Zone           object
Année           int64
Population    float64
dtype: object

#### For this analysis as we only have datas for 2017 in our first dataframe chicken_2017, let's restrict pop_2000_2018

In [243]:
pop_2017=pop_2000_2018[pop_2000_2018['Année']==2017]
pop_2017

                                        Zone  Année  Population
17                               Afghanistan   2017   36296.113
36                            Afrique du Sud   2017   57009.756
55                                   Albanie   2017    2884.169
74                                   Algérie   2017   41389.189
93                                 Allemagne   2017   82658.409
...                                      ...    ...         ...
4333  Venezuela (République bolivarienne du)   2017   29402.484
4352                                Viet Nam   2017   94600.648
4371                                   Yémen   2017   27834.819
4390                                  Zambie   2017   16853.599
4409                                Zimbabwe   2017   14236.595

[236 rows x 3 columns]

In [244]:
pop_2017=pop_2017.drop('Année',axis=1)
pop_2017

                                        Zone  Population
17                               Afghanistan   36296.113
36                            Afrique du Sud   57009.756
55                                   Albanie    2884.169
74                                   Algérie   41389.189
93                                 Allemagne   82658.409
...                                      ...         ...
4333  Venezuela (République bolivarienne du)   29402.484
4352                                Viet Nam   94600.648
4371                                   Yémen   27834.819
4390                                  Zambie   16853.599
4409                                Zimbabwe   14236.595

[236 rows x 2 columns]

In [246]:
#Nulls
pop_2017.isnull().sum()

Zone          0
Population    0
dtype: int64

In [247]:
#Duplicates
pop_2017.duplicated().sum()

0

#### Now let's merge the 2 dataframes

In [248]:
Chicken_2017=pd.merge(Chicken_2017,pop_2017, on='Zone',how='inner')
Chicken_2017

,Zone,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité,Population
0,Afrique du Sud,1667,514,0,2118,35,143,63,57009.756
1,Albanie,13,38,4,47,16,85,0,2884.169
2,Algérie,275,2,0,277,6,22,0,41389.189
3,Allemagne,1514,842,-29,1739,19,71,646,82658.409
4,Angola,42,277,0,319,10,35,0,29816.766
...,...,...,...,...,...,...,...,...,...
129,Uruguay,33,3,0,33,9,33,3,3436.641
130,Venezuela (République bolivarienne du),600,25,-1,626,20,71,0,29402.484
131,Viet Nam,918,291,2,1206,12,48,1,94600.648
132,Yémen,168,78,0,246,8,30,0,27834.819
133,Zambie,49,12,0,60,3,11,1,16853.599

In [249]:
#Let's set the country as the index:
Chicken_2017.set_index('Zone',inplace=True)

In [250]:
Chicken_2017.head()

,Production,Importations - Quantité,Variation de stock,Disponibilité intérieure,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Exportations - Quantité,Population
Zone,,,,,,,,
Afrique du Sud,1667,514,0,2118,35,143,63,57009.756
Albanie,13,38,4,47,16,85,0,2884.169
Algérie,275,2,0,277,6,22,0,41389.189
Allemagne,1514,842,-29,1739,19,71,646,82658.409
Angola,42,277,0,319,10,35,0,29816.766

#### Exporting the Dataframe as csv to perform in another notebook the clustering analysis

In [252]:
Chicken_2017.to_csv('Chicken_2017.csv')